2016/PythonDemo/EntityDTD.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2010 (http://www.altova.com)-->
<!ENTITY % myData "(#PCDATA)">
<!ELEMENT name (#PCDATA)>
<!ELEMENT content %myData;>
<!ATTLIST content
	type CDATA #FIXED "story"
>
<!ELEMENT bookList ((book*))>
<!ELEMENT book ((name, author, content))>
<!ATTLIST book isbn CDATA #REQUIRED>
<!ELEMENT author (#PCDATA)>
<!ENTITY ae "&#246;">
<!ENTITY out SYSTEM "Included.xml">
<!ENTITY myPress "Advanced Press">
<!ENTITY myFile SYSTEM "D:/Translation.txt">