2016/ProjectNote/GermanData/TextModel.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2010 (http://www.altova.com)-->
<!ELEMENT title (#PCDATA)>
<!ELEMENT text ((title, figure, Prolog+, body))>
<!ATTLIST text
	id CDATA #REQUIRED
	source CDATA #REQUIRED 
	type CDATA #FIXED "dialog"
>
<!ELEMENT person EMPTY>
<!ATTLIST person
	name (Wang_Hongliang | Frau_Schmidt) #REQUIRED
>
<!ELEMENT figure ((person+))>
<!ATTLIST figure
	num CDATA #REQUIRED
>
<!ELEMENT body ((Wang_Hongliang | Frau_Schmidt | Monolog)+)>
<!ELEMENT Wang_Hongliang (#PCDATA)>
<!ELEMENT Frau_Schmidt (#PCDATA)>
<!ELEMENT Prolog (#PCDATA)>
<!ELEMENT Monolog (#PCDATA)>
